[project]
name = "ytchatbot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.121.1",
    "uvicorn>=0.38.0",
    "youtube-transcript-api>=1.2.3",
]
